body{
  width: 600px;
  margin: auto;
}
li{
  list-style: none;
  margin-bottom: 10px;

}
.textarea{
  width: 500px;
  height: 200px;
}
input{
  width: 500px;
  padding: 10px;
  border-bottom: 2px solid #cec8c8;
}
.main{
  background-color:#b2aeae;
  padding: 50px;
  display: none;
}
.main1{
  width: 100px;
  margin-bottom: 10px;
}



/* body {
		width: 600px;
		margin: auto;
		font-family: sans-serif;
	}

	#contact {
		background: #e3e3e3;
		padding: 1em 2em;
		position: relative;
	}

	.js #contact {
		position: absolute;
		top: 0;
		width: inherit;
		display: none;
	}

	#contact h2 { margin-top: 0; }

	#contact ul { padding: 0; }

	#contact li {
		list-style: none;
		margin-bottom: 1em;
	}

	/* Close button on form */
	/*.close {
		position: absolute;
		right: 10px;
		top: 10px;
		font-weight: bold;
		font-family: sans-serif;
		cursor: pointer;
	}

	/* Form inputs */
	/*input, textarea { width: 100%; line-height: 2em;}
	input[type=submit] { width: auto;  }
	label { display: block; text-align: left; }*/


.transition {
  transition: .25s ease;
}
.zoom {
  transform: scale(2,2);

}
