<h1>{{page_title}}</h1>

<article ng-repeat="post in posts">
	<h2>{{post.title.rendered}}</h2>
	<div ng-bind-html="post.content.rendered | to_trusted"></div>
	<a ui-sref="detail({id: post.id})">{{post.title.rendered}} - read more</a>
</article>
