body{
  width: 400px;
  margin: auto;
  height: 400px;

}

@-webkit-keyframes h1Bg {

  0%{background-color: red;}
  25%{background-color: yellow;}
  50%{background-color: #666;}

}

@keyframes h1 {

  25%{background-color: red;}
  50%{background-color: yellow;}
  100%{background-color: #green;}

}

h1 {
  animation: h1Bg 10s infinite ;
  animation-duration:h1bg 10s normal;
}
