body{
  width: 80%;
  margin: 0 auto;
  font-size: 100%;
  font-family: sans-serif;
}
.box{
    padding: 1%;
    width:30%;
    background: blue;
    float: right;
}
.box1{
  width: 60%;
  background: red;
  float: left;
  padding: 1%;
}
h1,h2{
  font-size: 1.4em;
  font-style: italic;
}
p{
  font-size: 1em;
  letter-spacing: 0.1em;
  line-height: 23px;
}
/*-----------------------------------------------------
END .body
------------------------------------------------------/*
