html{
  background: rgb(100,98,102);
}
body{
  width: 900px;
  margin: 0 auto;
  font-family: arial sans-serif;
  padding: 0 0 25px;
  background:rgb(225,225,225);
  font-weight: 400px;
}
header{
  background:rgb(76,67,65);
  padding: 20px 25px;
}
h2{
  border-bottom: 2px solid black;
  line-height: 23px;
}
.box{
  padding: 0 25px;
  margin-top:25px;
}
.fnt-xs{font-size:1em;}
.fnt-sm{font-size:1.0em;}
.fnt-lg{font-size:1.6em;}
.fntc-a{color: #fff;}
.ls-xs {letter-spacing:0.1px;}
.lh-xs{line-height: 1.8em;}

.photo{
  margin: 0 auto;
  width: 830px;
  padding: 10px;
  background: rgb(100,98,102);
}
img{
  margin: 10px;
  border: 1px solid white;
}
/*-----------------------------------------------------
END .section box
-------------------------------------------------------*/
.box1{
  width: 842px;
  margin: 25px auto;
  border: 1px solid black;
  font-size: 90%;
  background: rgb(237, 238,234);
  padding: 1px;
}
.outer{
  padding: 5px;
}
h3{
  background:#eea458;;
  margin: 0 auto;
  color: #fff;
  font-size: 1em;
  padding: 5px;
}
/*----------------------------------------------------------
END .section box1
------------------------------------------------------------*/
