html{
  background: #ccc;
}
body{
  background: #fff;
  width:700px;
  margin: 0 auto;
  padding: 20px;
  font-family: arial,georgia,helvetica
}
div{
  width: 50px;
  height: 50px;
  padding: 25px;
  margin-bottom: 20px;
}
.container{
  background: rgb(169, 145, 145);
  padding: 20px;
}
.element1{
  background: red;
  position: fixed;
  top: 0px;
  right: 125px;
}
.element2{
  background: green;
}
.element3{
  background: blue;
}
