html{
  background: #ccc;
}
body{
  background: #fff;
  width: 80%;
  margin: 0 auto;
  padding: 2px;
}
header{
  background: yellow;
  padding: 10px;
}
img{
  float: left;
  margin:0px 20px;
}
.container1{
  width: 58%;
  float: left;
}
.container{
  width: 38%;
  float: right;
}
p{
  clear: both;
}
footer{
  clear: both;
  background: yellow;
  text-align: center;
  text-transform: uppercase;
}
