
<!DOCTYPE html>
<html ng-app="gemstore">
  <head>
    <meta charset="utf-8">
    <title>angular</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet"href="css/bootstrap.min.css">
  </head>
  <body ng-controller="storecontroller as store">
    <div>

    <p>{{store.product.name}}</p>
    <h1>${{store.product.price}}</h1>
    <p>{{store.product.description}}</p>
    <button ng-show="store.product.canPurchase">add to cart</button>
  </div>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
  </body>
</html>
