html{
  background: #ccc;
}
body{
  width: 860px;
  margin: 0 auto;
  background: #fff;
  font-family: arial,sans-serif;
}
header{
  background: rgb(255, 256, 157);
  padding: 10px;
}
article{
  padding: 10px;
}
.root{
  margin: 0 10px;
  overflow: hidden;
}
.col-1{
  width: 498px;
  float: left;
  padding:10px ;

}
.col-2{
  width: 300px;
  float: right;
  padding:10px;
  border-left: 2px solid black;
}
/*----------------------------------------------------------
END section
------------------------------------------------------------*/

/*mobile*/
@media only screen and (max-width:480px) {
  body{
    width: 320px;
    margin: 0 auto;
    background: #fff;
    font-family: arial,sans-serif;
  }
  header{
    background: rgb(255, 256, 157);
    padding:10px;
  }
  article{
    padding: 10px;
  }
  .root{
    margin: 0 10px;
    overflow: hidden;
  }
  .col-1{
    background: rgb(226, 246, 156);
    width: 280px;
    float: left;
    padding:10px;
    margin-bottom: 10px;
  }
  .col-2{
    background: rgb(256, 257, 147);
    width: 280px;
    float: right;
    padding:10px;
  }

}
/*----------------------------------------------------------
END section
------------------------------------------------------------*/
