
html{
  background: #ccc;
}
body{
  width: 600px;
  margin: 2em auto  auto;
  background: #fff;
}
div{
  width: 200px;
  height: 100px;
  margin-bottom: 1em;
}
.element1{
  background: red;
  float: left;
  margin-right: 1em;
}
.element2{
  background: green;
  float: left;
  margin-right: 1em;
}
.element3{
  background: blue;
  float: left;
  margin-right: 1em;
}
p{
  
  clear: both;

}
/*-------------------------------------------------
SECTION end
-------------------------------------------------*/
