html{
  background: #ccc;
}
body{
  background: rgb(175,155,107);
  width: 600px;
  margin: 0 auto;
}
section{

  border: 1px solid black;
  padding: 25px;
}
div{
  width: 100px;
  height: 100px;
  margin:1em;
}
.element1{
  background: red;
  float: left;
}
.element2{
  background: green;
  float: left;
}
.element3{
  background: blue;
  float: left;
}
.wrap:after{
  content: "";
  display: block;
  clear: both;

}
/*----------------------------------------------------
SECTION end
-----------------------------------------------------------*/
