html{
  background: #ccc;
  height: 100%;
}
body{
  width: 960px;
  background: #fff;
  margin: 0 2em;
  height: 100%;
}
.section{
  background: green;
  width: 50%;
  padding: 10px;
  min-height: 100%;
}
/*----------------------------------------------------------
END section
-----------------------------------------------------------*/
