html{
  background: #ccc;
}
body{
  background: #fff;
  width: 700px;
  margin: 0 auto;
  padding: 20px;
}
div{
  width: 50px;
  height: 50px;
  padding: 25px;
  margin-bottom: 20px;
}
.container{
  background: rgb(165,169,138);
  padding: 20px;
  position: relative;
}
.element1{
  background: red;
  position: absolute;
  top: 20px;
  left: 150px;
}
.element2{
  background: green;
}
.element3{
  background: blue;
}
/*--------------------------------------------------------
SECTION end
----------------------------------------------------------*/
