
<!DOCTYPE html>
<html ng-app="gemstore">
  <head>
    <meta charset="utf-8">
    <title>angular</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet"href="css/bootstrap.min.css">
    <style>

    </style>
  </head>
  <body>
    <section ng-init="tab=1">
      <ul class="nav nav-pills nav-justified">
  <li ng-class="{active:tab===1}">
    <a href ng-click="tab=1">description</a></li>
  <li ng-class="{active:tab===2}">
    <a href ng-click="tab=2">product</a></li>
  <li ng-class="{active:tab===3"}>
    <a href ng-click="tab=3">reviews</a></li>
  </ul>
  {{tab}}
</section>
<div class="panel panel-info" ng-show="tab===1">
  <h4>description</h4>
  <blockquote>Lorem Ipsum is simply dummy text of the printing
     Lorem Ipsum has been the industry's
     standard dummy text ever since the 1500s, when an unknown </blockquote>
</div>
<div class="panel panel-info" ng-show="tab===2">
  <h4>product</h4>
  <blockquote>Lorem Ipsum is simply dummy text of the printing
     Lorem Ipsum has been the industry's
     standard dummy text ever since the 1500s, when an unknown
     printer took a galley </blockquote>
</div>
<div class="panel panel-info" ng-show="tab===3">
  <h4>reviews</h4>
  <blockquote>Lorem Ipsum is simply dummy text of the printing
     Lorem Ipsum has been the industry's
     standard dummy text ever since the 1500s, when an unknown </blockquote>
</div>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
  </body>
</html>
