html{
  background: #ccc;
}
body{
  width: 860px;
  background: #fff;
  margin: 0 auto;
  font-family: times,sans-serif;
}
article{
  padding: 10px;
}
header{
  background: rgb(255, 246, 120);
  padding: 10px;
}
.section{
  border: 2px solid black;
  height: 300px;
  background: url(./img/philly_03_lg.jpg)no-repeat;
  position: relative;
}
.col-1{
  border: 2px solid black;
  position: absolute;
  top: 50px;
  left: -50px;
  opacity: 0.5;
}
.col-2{
  border: 2px solid black;
  position: absolute;
  top: 50px;
  right: -50px;
  opacity: 0.5;

}
/*------------------------------------------------------
END section
--------------------------------------------------------*/
