html{
  background: #ccc;
}
body{
  width: 960px;
  margin: 2em auto 2em;
  background: #fff;
  padding: 25px;
  font-family:arial,sans-serif;
}
.photo{
  background: rgb(255, 256, 147);
  width:850px;
  overflow: hidden;
  padding: 10px;
  border: 2px solid black;
  margin: 0 auto;
}
img{
  margin: 10px;
}
/*tablet*/
@media only screen and (min-width:481px) {
  body{
    width: 700px;
    font-size: .8em;
    margin: 2em auto 2em;
    background: #fff;
    padding: 25px;
    font-family:times,georgia,serif;
  }
  .photo{
    background: rgb(255, 256, 147);
    width:420px;
    overflow: hidden;
    padding: 10px;
    border: 2px solid black;
    margin: 0 auto;
  }
  img{
    margin: 10px;
    border: 1px solid black;
  }
  }
  /*------------------------------------------------------------
  END section tablet
  --------------------------------------------------------------*/
  /*mobile*/
  @media only screen and (max-width:480px) {
    body{
      width: 320px;
      font-size: .8em;
      margin: 2em auto 2em;
      background: #fff;
      padding: 25px;
      font-family:times,georgia,serif;
    }
    .photo{
      background: rgb(255, 256, 147);
      width:220px;
      overflow: hidden;
      padding: 10px;
      border: 2px solid black;
      margin: 0 auto;
    }
    img{
      margin: 10px;
      border: 1px solid red;
      width: 200px;
      height: 200px;
    }
    }
/*-------------------------------------------------------------
END mobile
---------------------------------------------------------------*/
/*desctop*/
@media only screen and (min-width:769px) {
  body{
    width: 960px;
    font-size: .8em;
    margin: 2em auto 2em;
    background: #fff;
    padding: 25px;
    font-family:times,georgia,serif;
  }
  .photo{
    background: rgb(255, 256, 147);
    width:850px;
    overflow: hidden;
    padding: 10px;
    border: 2px solid black;
    margin: 0 auto;
  }
  img{
    margin: 10px;
    border: 1px solid black;
    float: left;
  }
  }
  /*-------------------------------------------------------------
  END desctop
  ---------------------------------------------------------------
