html{
  background: #ccc;
}
body{
  background: #fff;
  width: 700px;
  margin: 0 auto;
  padding: 10px;
}
.container{
  background: rgb(169, 145, 134);
  border: 1px solid black;
  height: 300px;
  overflow:auto;
}
