.article{
  background-image: url(../img/1-bg.jpg);
  background-repeat: no-repeat;
}
.row{
  padding: 20px;
}
h2{
color: #fff;
}
.grey-box p{
  color:#6d6262;
}
.item{
  border: 1px solid grey;
  padding: 40px;
  border-radius: 30px;
}
.page-header{
  padding-top: 150px;
}
.item-box{
  padding-top: 150px;
}
.content{
  background: #eee;
}
.content-bg{
  background: #eee;
}
.content{
  margin-top: 150px;
}
.wrap{
  margin-top: 150px;
  background-image: url(../img/1-bg.jpg);
}
.container-fluid{
  padding: 80px;
}
.button{
  padding: 20px;
}
.content-box{
  margin-top: 150px;
}
.bg{
  background-image: url(../img/Untitled-1.jpg);
}
.fluid{
  padding: 50px;
}
.photo{
  padding-bottom: 20px;
}
.text{
  padding-bottom: 80px;
}
.form{
  background-image: url(../img/1Untitled-1.jpg);
}
.grey-box{
  position: relative;
}
