html{
  background:#ccc;
}
body{
  width: 600px;
  margin: 0 auto;
  
}
section{
  background: rgb(178, 155,107);
  padding: 10px;
  border: 1px solid black;
  overflow:
}
div{
  width: 100px;
  height: 100px;
  margin: 1em;
}
.element1{
  background: red;
  float: left;
}
.element2{
  background: green;
  float: left;
}
.element3{
  background: blue;
  float: left;
}
p{
clear: both;
}
/*-------------------------------------------------
SECTION end
-------------------------------------------------*/
