* { margin: 0; padding: 0; }
html { background: #7f5959 url(../images/bg.jpg); }
body { font: 14px/1.4 Georgia, serif; }

article, aside, figure, footer, header, nav, section { display: block; }
#page-wrap {
   width: 800px;
   margin: 30px auto 10px;
	 background: white url(../images/mailmark.png) top right no-repeat; }

header {
  position: relative;
  padding: 0 0 0 280px;
   border-bottom: 1px solid #999;
  }
header p {
   position: absolute;
    right: 30px;
    bottom: 20px;
    text-transform: uppercase;
     letter-spacing: 2px;
     font-size: 20px;
   }
h1 {
   font: 40px Helvetica, Arial, Sans-Serif;
   text-transform: uppercase;
   color: #666;
	 text-shadow: 2px 2px 0 #d8d8dc;
    border-left: 1px solid #999;
     padding: 40px 0 20px 20px;
   }
#logo {
   position: absolute; top: -25px;
   left: -50px;
   background: url(../images/logo.png) no-repeat;
   width: 295px;
    height: 191px;
  }
  aside{
    width: 275px;
    padding: 70px 0 0 0;
  }
#main-content{
  float: right;
  width: 500px;
  padding: 70px 0 0 0;
  font-size: 12px;
  color: #969696;
  font-size: 12px;
}
 ul li{
  list-style: none;
}
nav ul li a{
    display: block;
    padding: 10px 10px 10px 20px;
    color: white;
    font-size: 16px;
    background-color: #647484;
    text-decoration: none;
    margin: 0 0 5px 0;
    position: relative;
}
nav ul li:nth-child(2) a, nav ul li:nth-child(2) a span {
background-color: #7f5959;
}
nav ul li:nth-child(3) a, nav ul li:nth-child(3) a span {
  background-color: #3d40c5;
}
nav ul li:nth-child(4) a, nav ul li:nth-child(4) a span {
  background-color: #9294f0;
}
nav ul li a span {
  position: absolute;
  width: 15px;
  right: 100%;
  top: 5px;
  height: 100%;
  background-color:#647484;
  box-shadow: 0px 0px 1px #000;
}
.widget{
  padding: 30px;
  margin:30px 0 0 0;
}
.widget .date{
  background-color: #161212;
  color: white;
  text-align: center;
  width: 235px;
  margin: 0 0 12px -30px;
  padding: 3px;
}
.widget p{
  font-size: 12px;
  color: #969696;
}
#main-quote{
  background: url(../images/w-corp.png)no-repeat;
  width: 475px;
  height: 188px;
  text-indent:-999px;
  margin: 30px 0 0px 25px;
}
h3{
  background-color:#fabebe;
  padding: 3px;
  margin: 0 0 10px 0;
  position: relative;
}
.feature-widget p{
  padding: 0 0 0 204px;
}
.feature-widget img{
  margin-top: -10px;
  position: absolute;
  margin-top:-160px;
}
.button{
  width: 40px;
  background-color: #c6c6c6;
  text-decoration: none;
  padding: 10px;
  color: #000;
  border: 2px solid green;
  text-transform: uppercase;
  margin:0px 0 0 50px;
}
.button:hover{
  background-color:#8cd98c;
  color: white;
  border: 1px solid #c4ff4d;
}
.feature-cont{
  margin-top: 50px;
}
footer{
  width: 800px;
  margin: 0 auto 20px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#copyright{
      float: right;
}
.group::after {
    content: "";
    clear: both;
    display: block;
}
#searchform{
  margin-bottom: 20px;
}
