/*
Theme Name: Foundry Child
Theme URI:
Description: Child theme for the Foundry theme
Author: <a href="http://www.madeinebor.com">Tom Rhodes</a>
Author URI:
Template: foundry
Version: 1.0.0
*/

@import url('../foundry/style.css');

/*---------------------------------------------
             helper classes
------------------------------------------------*/

.btn-pink{
  background: #e80b8d;
}
.btn-blue{
  background: #1ea9e1;
  color: white;
  border-color: #1ea9e1;
}
.btn-blue:hover{
  background: #fff;
  color:#000;
}

.mb-0 { margin-bottom: 0px; }


.image-bg .btn.btn-filled.btn-pink, .image-bg
.btn-pink.btn-filled:visited {
  border-color: #e80b8d;;
}
.block { display: block; }
.full-container .container {  width: 100%; }

.cont-op{
  opacity:0.9;
  font-size: 100px;
  color: #d8ecf4;
}
.sub{
  display: none;
}


/*---------------------------------------------
  Cube Carousel
------------------------------------------------*/

.cube-carousel-wrap {
  margin-right: 40%;
  margin-left: -15%;
}
.cube-carousel .cube-item {
  height: 250px;
  text-align: center;
  margin-bottom: 0 !important;
  margin-top: 20px;
  color: #fff;
  background-size: cover;

}
.cube-item-content {
  height: 250px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.66);
  margin-bottom: 0 !important;
  opacity: 0;
  transition: all .25s;
}
.cube-carousel .item-title {
  margin-top: 30px;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1 !important;
  margin-bottom: 5px;
  color: #fff;
}
.cube-carousel .item-outer-title {
  text-align: left;
  font-size: 1em;
  color: #fff;
  transition: all .25s;
}
.item-permalink {
  font-size: .8em;
  padding-left: 15px;
  padding-right: 15px;
  border: solid 1px;
}
.cube-carousel .cube-item:hover .cube-item-content {
  opacity: 1;
}
.cube-carousel .cube-item:hover .item-outer-title {
  opacity: 0;
}

.cube-carousel .owl-nav {
  width: 80px;
  height: 30px;
  position: absolute;
  top: 0px;
  right: -30%;;
}
.cube-carousel .owl-nav div {
  margin-top: 0;
}
.cube-carousel .owl-nav div i {
  font-size: 1.3em;
  color: #fff;
  transition: all .25s;
  list-style: none !important;
}
.cube-carousel .owl-nav div i:hover {
  opacity: .5
}
.cube-carousel .owl-nav div i:after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 9px;
}
.cube-carousel .owl-nav div.owl-prev i:after {
  left: 5px
}
.cube-carousel .owl-nav div.owl-next i:after {
  right: 5px
}
.cube-carousel-wrap .cube-carousel-title {
  text-align: right;
  margin-right: 8%;
  color: #fff;
}

/* Slider RTL */
.cube-carousel-wrap.slider-rtl {
  margin-right: -15%;
  margin-left: 40%;
}
.cube-carousel-wrap.slider-rtl .owl-nav {
  right: auto;
  left: -30%;
}
.cube-carousel-wrap.slider-rtl .cube-carousel-title {
  text-align: left;
  margin-right: 0;
  margin-left: 28%;
}
/*cube carousel li content*/
.cube-item-content{
  padding-top: 50px;
  font-size: 1em;
  font-weight: 300px;
}
.item-title h3{
  font-weight: bold;
}
.item-cats li {
  list-style: none;
  display: inline-block;
}
span.seperator{
  margin:0px 3px 0px 1px;
}
.cube-item-content li a{
   color: #fff;
}
.wpb_text_column *:last-child .btn-port{
  color: #fff;
}
.wpb_text_column *:last-child .btn-port:hover{
  color: #fff;
  background-color:inherit;
}
@media screen and (max-width:480px) {
  .cube-carousel .owl-nav {
    position: relative;
    width: 80px;
    height: 30px;
    top: 0px;
    margin: auto;
}
.cube-carousel-wrap.slider-rtl{
  margin-right: -15%;
  margin-left: 4% !important;

}
.cube-carousel-wrap.slider-rtl .cube-carousel-title {
    text-align: left;
    margin-right: 0px;
}
.cube-carousel-wrap {
  margin-right: 4%;
  margin-left: -0%;
}
}
.uppercase {
  display: none;
}
