html{
  background: #ccc;
}
body{
  background: #fff;
  width: 700px;
  margin: 0 auto;
  padding:20px;
  font-family: arial,helvetica,serif;
}
div{
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  padding:25px;
}
.element1{
  background: red;
  position: relative;
  top: 25px;
  left:165px;
}
.element2{
  background: green;
}
.element3{
  background: blue;
}
.container{
  background: rgb(145, 165, 167);
  padding: 25px;
}
/*--------------------------------------------------------
SECTION end
----------------------------------------------------------*/
