#header{
	background-color: grey;
	height: 73px;
}
#main ul {
	list-style: none;
}
#main li a{
	color: #fff;
	font-family: sans-serif;
}
#main li a:hover{
	color: green;
}
#page{
	color: #fff;
	background: blue;
	vertical-align: top;
	padding-left: 25px;
}
#structure{
	height: 600px;
	width: 100%;
}
#navigation{
	width: 250px;
	vertical-align:top;
	background: red;
	padding: 20px;
	color: #fff;
	/*padding-left: 2em;*/
}
.selected{
	font-weight:bold;
}
