html{
  background: #ccc;
}
body{
  width: 700px;
  margin: 0 auto;
  background: #fff;
}
header{
  background: yellow;
  padding: 10px;
}
.content{
  background: rgb(255, 226, 169);
}
@media only screen and (max-width:920px) {
  body{
    width: 90%;
  }
}
@media only screen and (max-width:600px) {
  body{
    width: 320px;
  }
  .content{
    background: rgb(246, 247, 147);
    font-size: .8em;
    padding: 1em;
  }
  article{
    background: rgb(300, 310, 200);
    font-size: .8em;
    padding: 1em;
  }
}
/*--------------------------------------------------
SECTION end
----------------------------------------------------*/
