
<!DOCTYPE html>
<html ng-app="gemstore">
  <head>
    <meta charset="utf-8">
    <title>angular</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet"href="css/bootstrap.min.css">
    <style>
    body{
      width: 400px;
      margin: 0 auto;
      padding-top: 20px;

    }
   input,textarea,{
     width:500px;
     outline:inherit;
   }
   ng-model{
     width: 50%;
   }
   .green{
     border-radius: 3px;
     border: 1px solid green;
     outline: inherit;
     width: 100%;
     padding: 10px
   }
   textarea{
      border-radius: 3px;
     border: 1px solid red;
     outline: inherit;
     width: 100%;
   }

   blockquote{
     background-color: #b49d80;
     border-radius: 5px solid  #ac7e54;
     font-size: 16px;
      }
body{
  font-family: 'Lato', sans-serif;
}
span{
  font-size: 20px;
  position: relative;
  bottom:12px;
}
.pink{
  background-color:#bcab90;
}
.stars{
  width: 100%;
  outline: inherit;
}
.stars{
  padding: 40px;
}
.panel{
  background:#f5f5f5;
}
.btn-md{
  background-color:#ff66b3;
  width:25%;
  border-radius: 5px;
  padding: 10px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #ff66d9;
}  </style>
  </head>
  <body>
    <div class="panel panel-default">
          <div class="panel-heading">
    <div ng-controller="storecontroller as store">
    <p>{{store.product.name}}</p>
    <h1><span>$</span>{{store.product.price}}</h1>
    <p>{{store.product.description}}</p>
    <P><img src="angular_img/images-(6).png"width="218"height="218"></p>
    <button ng-show="store.product.canPurchase" class="btn-md btn-info">AddToCart</button>
  </div>
</br>
  <section ng-init="tab=1">
    <ul class="nav nav-pills">
<li ng-class="{active:tab===1}">
  <a href ng-click="tab=1">Description</a></li>
<li ng-class="{active:tab===2}">
  <a href ng-click="tab=2">Product</a></li>
<li ng-class="{active:tab===3}">
  <a href ng-click="tab=3">Reviews</a></li>
</ul>
</section>
<div class="panel" ng-show="tab===1">
<h4>Description</h4>
<blockquote>Lorem Ipsum is simply dummy text of the
  industry. Lorem Ipsum has been the industry's
  standard dummy text ever since the 1500s, when an
  printer took a galley </blockquote>
</div>
<div class="panel" ng-show="tab===2">
<h4>Product</h4>
<blockquote>Lorem Ipsum is simply dummy text of the
  industry. Lorem Ipsum has been the industry's
  standard dummy text ever since the 1500s, when an
  printer took a galley</blockquote>
</div>
<div class="panel" ng-show="tab===3">
<h4>Reviews</h4>
<blockquote>Lorem Ipsum is simply dummy text of the
  industry. Lorem Ipsum has been the industry's
  standard dummy text ever since the 1500s, when an
  printer took a galley</blockquote>
<form name="reviewForm"><!-- ng-controller="formreviewcontroller as reviewCtrl"
                  ng-submit="reviewCtrl.addReview(product)"novalidate>-->
  <blockquote class="pink">
    <b>stars:{{review.stars}}</b>
    {{review.body}}
    <cite>by:{{review.author}}</cite>
  </blockquote>
  <p><select ng-model="review.stars" class="stars"></p>
    <option value="1">1Star</option>
    <option value="2">2Stars</option>
  </select>
  <p><textarea ng-model="review.body">
  </textarea></p>
  <lable>By:</lable>
  <p><input ng-model="review.author"type="email"class="green"/></p>
  <p><input type="submit" class="btn-success btn-md"value="submit"/></p>
</form>
</div>
</div>
</div>
<div class="panel-body"></div>
</div>

  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
  </body>
</html>
