html{
  background: #ccc;
}
body{
  background: #fff;
  width: 860px;
  margin: 0 auto;
}
header{
  background: rgb(255, 256, 148);
  padding: 10px;
}
.root{
  overflow: hidden;
  margin: 0 10px;
}
.col-1{
  background: rgb(255, 258, 160);
  width: 400px;
  padding: 10px;
  float: right;
  border-radius: 50px;
}
.col-2{
  background: rgb(260, 265, 165);
  width: 300px;
  padding: 10px;
  float: left;
  border-radius: 120px 10px/10px 120px;
}
/*-------------------------------------------------------------
END section
---------------------------------------------------------------*/

/*desctop*/
/*
@media only screen and (min-width:769px) {
  body{
    background: #fff;
    width: 960px;
    margin: 0 auto;
  }
  header{
    background: rgb(255, 256, 148);
    padding: 10px;
  }
  .root{
    overflow: hidden;
    margin: 0 10px;
  }
  .col-1{
    background: rgb(255, 258, 160);
    width: 400px;
    padding: 10px;
    float: right;
    border-radius: 50px;
  }
  .col-2{
    background: rgb(260, 265, 165);
    width: 300px;
    padding: 10px;
    float: left;
    border-radius: 120px 10px/10px 120px;
  }

}
