html{
  background: #ccc;
}
body{
  width: 960px;
  margin: 0 auto;
  background: #fff;
  font-family: times arial;
  font-size: 100%;
}
header{
  background: rgb(76, 67, 65);
  padding: 20px;
}
  h1{
  color: #fff;
  text-align: center;
  font-size: 2em ;
  font-family: arial, helvetica,sans-serif ;
  letter-spacing: .1em;
  line-height: 1.6em;
  text-transform: uppercase;
}
.column1{
  width: 600px;
  padding: 20px;
  height: 500px;
  margin-right: 20px;
  background: rgb(237, 228, 214);
  float: left;
}
.column2{
  float:right;
  background: rgb(173,169,130);
  width: 260px;
  padding: 20px;
  height: 500px;
}
footer{
  background: green;
  font-size: .8em;
  line-height: 1.6em;
  clear: both;
  color: #fff;
}
/*--------------------------------------------------------
END section
---------------------------------------------------------*/
