body{
  background:#e9bbbb;
  color: white;
}
.emphasis{
  color: green;
}
li{
  list-style: none;
  display: inline-block;
  border: 1px solid white;
  padding: 10px;
  width: 100px;
  margin-bottom: 10px;
  margin: 10px;
}
