body{
  background: #66cc66;
  color:white;
}
.width{

  margin:10px auto;
}
li{
  list-style: none;
  border: 2px solid yellow;
  width: 100px;
  text-align: center;
  background: red;
  margin-bottom: 10px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}
.main{
  background: green;
  padding: 50px;
}
.container{
  background: brown;
  padding: 50px;
}
.emphasis{
  color: green;
}
.text{
  font-size: 1.4em;
  line-height: 23px;
  letter-spacing: .1em;
}
.item{
  border: 5px solid grey;
}
