
/*-----------------------------------------------
  Global Styles
  ---------------------------------------------*/
body {
  font-family: Roboto-Light, sans-serif;
}
img {
  max-width:100;
}
.section-item {
  padding-top: 50px;
  padding-bottom: 50px;
}
.container {
  max-width: 1750px;
  margin: 0 auto;
}
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.fnt-xs { font-size: .8em; }
.fnt-sm { font-size: 1em; }
.fnt-md { font-size: 2em; }
.fnt-lg { font-size: 3em; }
.fnt-xl { font-size: 4em; }
.mt-xs { margin-top: 10px; }
.mt-sm { margin-top: 20px; }
.mt-md { margin-top: 30px; }
.mt-lg { margin-top: 50px; }
.mt-xl { margin-top: 80px; }
.mt-xxl { margin-top: 180px; }
.mt-xxxl { margin-top: 280px; }
.fw-lt { font-weight: 300; }
.fw-rg { font-weight: 400; }
.fw-md { font-weight: 500; }
.fw-bd { font-weight: 700; }
.ml-xl { margin-left: 125px; }
.ml-xxl { margin-left:500px; }
.ml-l { margin-left:290px; }
.pt-s { padding-top: 80px; }
.pb-s { padding-bottom: 100px; }
.txt-j { text-align: justify; }
.lhi-h{ line-height:23px; }
.btn  {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    padding: 15px 65px;
    border: 2px solid white;
    font-size: 18px;
    line-height: 60px;
}
a { text-decoration: none; }

.row:after {
  content: '';
  display: block;
  clear:both;
}
.column3 {
  width: 25%;
  float: left;
  box-sizing: border-box;
  padding: 0px 20px;
}

/*-----------------------------------------------
  Header
  ---------------------------------------------*/

.main-navigation li{
  width: px;
}
.section-item8{
  background: #111;
  height: 700px;
  color: #fff;
}
.section-item8 p{
  color: #7d7d7d;
}
#header{
  font-family: 'Roboto-light',sans-serif;
  position: absolute;
  left: 0;
  right: 0;;
}

#header .column4 {
  width: 25%;
}
#header .column8 {
  width: 75%;
}
#header:after {
  content: '';
  display: block;
  clear: both;
}
#header .column4,
#header .column8 {
  float: left;
}
.main-navigation li {
  display: inline-block;
  list-style: none;
  font-size:12px;
  line-height:18px;
  font-weight:300px;
  margin-right: 20px;
  color: #7D7D7D;
}
.main-navigation li a  {
  text-decoration: none;
}
.main-navigation{
  float:right;
  margin-top: 20px;
}
.menu-item a {
  color:#fff
}
.hero-home{
  background-image:url(../img/mainimg18.jpg);
  height: 400px;
  color: #fff;
}

/*-----------------------------------------------
  Section1 - Hero
  ---------------------------------------------*/

.hero-home {
  background-image:url(../img/mainimg18.jpg);
  height: 400px;
  color: #fff;
}
#home-hero {
  background-image:url(../img/oneline14.jpg);
  background-size: cover;
  height: 700px;
  font-weight: bold;
  line-height: 46px;
}
#home-hero .section-content {
  color: #fff
}

/*-----------------------------------------------
  Section2 - Services
  ---------------------------------------------*/


.icon-box-item {
  padding:
}

.section-item p{
  font-family:Roboto-Light, sans-serif;
  font-size: 15px;
  line-height: 23px;
  color: #7d7d7d;
}
#site-logo{
 width:1170px;
 margin:auto
}
#site-logo img{
  margin-top:10px;
}
.section-item li{
  width: 275px;
  height: 295px;
  list-style: none;
  display: inline-block;
  font-size: 14px;
  color: #7d7d7d;
  line-height: 23px;

}
#content{
  margin-top:150px÷
}
.header-button.left-button {
    -webkit-border-radius: 0.1s;
    -moz-border-radius: 0.1s;
    border-radius: 0px;
    color: #fff;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    border: solid #fff 1px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 15px;
    transition: all 0.3s;
    cursor: pointer;
  }
