/*
Theme Name: Foundry Child
Theme URI:
Description: Child theme for the Foundry theme
Author: <a href="http://www.madeinebor.com">Tom Rhodes</a>
Author URI:
Template: foundry
Version: 1.0.0
*/

@import url('../foundry/style.css');

/* Footer */
.footer-2 img { max-width: 400px; }

/* Signup Forms */
#field_2_32,
#field_2_35{
    width: 75%;
}
#field_2_33,
#field_2_34 {
    width: 25%;
}

/* Signup Forms - Checkboxes */
#gform_2 #field_2_21 > .gfield_label,
#gform_2 #field_2_38 > .gfield_label,
#gform_2 #field_2_25 > .gfield_label,
#gform_2 #field_2_26 > .gfield_label,
#gform_2 #field_2_15 > .gfield_label,
#gform_2 #field_2_23 > .gfield_label,
#gform_2 #field_2_30 > .gfield_label  {
    display: none;
}

#gform_wrapper_2 .ginput_container_checkbox li input,
#gform_wrapper_3 .ginput_container_checkbox li input,
#gform_wrapper_2 .ginput_container_radio li input,
#gform_wrapper_3 .ginput_container_radio li input {
    display: inline-block;
    vertical-align: top;
}
#gform_wrapper_2 .ginput_container_checkbox li label,
#gform_wrapper_3 .ginput_container_checkbox li label,
#gform_wrapper_2 .ginput_container_radio li label,
#gform_wrapper_3 .ginput_container_radio li label {
    display: inline-block !important;
    margin-left: 5px;
    margin-top: 4px;
}
.ginput_container_repeater-end {
    text-align: right;
}
.ginput_container_repeater-end > span {
    background: #47b475;
    color: #fff;
    margin-left: 5px;
    padding: 8px;
    cursor: pointer;
    outline: none;
    border: solid 2px #47b475;
    border-radius: 2px;
}
.ginput_container_repeater-end .gf_repeater_remove {
    border: solid 2px #47b475;
    background: none;
}
/*signup form receiver*/

#field_3_34,
#field_3_35{
   width:75%;
}
#field_3_36,
#field_3_37{
  width: 25%;
}
#gform_3 #field_3_23 > .gfield_label,
#gform_3 #field_3_31 > .gfield_label,
#gform_3 #field_3_24 > .gfield_label,
#gform_3 #field_3_25 > .gfield_label,
#gform_3 #field_3_26 > .gfield_label,
#gform_3 #field_3_21 > .gfield_label,
#gform_3 #field_2_30 > .gfield_label  {
    display: none;
}
