/*
Theme Name: Napstack Theme
Theme URI:http://napstack.com
Author: Krishana
Author URI: http://krishana@napstack.com/
Description: The 2017 theme for WordPress takes us back to the blog, featuring a full range of post formats, each displayed beautifully in their own unique way. Design details abound, starting with a vibrant color scheme and matching header images, beautiful typography and icons, and a flexible layout that looks great on any device, big or small.
Version: 1.0
*/
body{
  margin: 0px;
  padding: 0px;
  background-color:blue;
}
#wrapper{
  width: 900px;
  margin: auto;
  color: #fff;
}
#menu a{
    color: #000;
    text-decoration: none;
}
#menu li{
  list-style: none;
}
#wrapper #header{
  width: 100%;
  height: 140px;
  color: #fff;
}
#wrapper #header #menu ul li{
  list-style:none;
  display: inline-block;
}
#menu ul li:first-child {
   margin-left: -40px;
 }
 #header:after{
   content: '';
   display:block;
   clear: both;
 }
 #menu{
   width: 100%;
   padding: 5px;
   background-color: #fff;
 }
 #menu a {
   color: #000;
   text-decoration: none;
   display: block;
   margin-top: -18px;
   margin-right: 15px;
   }
 #footer{
   text-align: center;
   width: 100%;
   clear: both;
 }
 #body_content{
   color:#adad85;
 }
 #body_content{
   clear: both;
 }
 #body_content a{
    color:#adad85;
    text-decoration: none;
 }
 .post_box{
   width: 700px;
   min-height: 300px;
   border: 1px solid #fff;
   margin: 20px auto;
 }
 .post_img{
   width: 200px;
   height: 200px;
   margin-left: 20px;
   float: left;
 }
  .post_img img{
    width: 100%;
    height: 100%;
    border: 1px #adad85 solid
  }
  .post_content{
    width: 400px;
    margin-left: 20px;
    float: left;
  }
  .read_btn{
    float: right;
    border: 1px solid grey;
    padding: 6px;
}
.read_btn:hover{
    background-color:red;
    color:#fff;
    padding: 6px;
}
.cat-date{
  clear: left;
}
.post-categories li{
  list-style: none;
}
/*single-post_box*/
.single-post_img{
width: 300px;
height: 300px;
margin-left: 20px;
}
.single-post_img img{
  width: 100%;
  height: 100%;
  border: 1px #adad85 solid
}
.single-post_box{
  height: auto;;
  border: 1px solid #fff;
  margin: 20px auto;
}
.single-post_img {
    width: 400px;
    margin: 0 auto;
    height: 500px;
}
.content_wrapper{
    padding: 10px 80px;
}
.post_cat{
  margin: 0 auto;
  width: 70px;
}
.nextprev{
  width:100%;
  overflow:hidden;
  color:rgb(255, 0, 128);
  font-size:.9em;
  letter-spacing:1px;
}
.nextprev a{
  color:rgb(255, 0, 128)!important;
}
.prev{
  float:left;
}
.next{
  float:right
}
#footer {
text-align: center;
width: 100%;
clear: both;
color: #fff;
}
.page_content{
  clear:both;
}
.page_box{
  border:1px solid;
  padding:20px;
  margin-top: 20px;
}
#sidebar{
  clear: both;
  width: 720px;
  float: left;
  border-right: 1px solid #fff;
}
/* widget */
#sidebar{
  clear: both;
  width: 720px;
  float: left;
  border-right: 1px solid #fff;
}
#right-sidebar li{
  list-style:none;
  margin-left:px!important;
}
#right-sidebar{
  float:right;
  width:150px;
  margin-top: 20px;
}
/* Templates */
#leftsidebar-wrapper{
  width: 100%;
  clear: both;
  float: left;
  border: 1px solid;
  padding: 10px;
}
.leftsidebar{
  width: 25%;
  float: left;
  border: 1px solid;
  margin-right: 4%;
}
.leftsidebar_content{
  width: 70%;
  float: left;
  border: 1px solid;
}
.leftsidebar-padding{
  padding: 10px;
}
.leftsidebar-padding li{
  list-style:none;
}
.leftsidebar-padding a{
  color: #fff;
}
.rightsidebar{
  width: 25%;
  float: right;
  border: 1px solid;
  margin-left: 4%;
}
.rightsidebar_content{
  width: 70%;
  float: left;
  border: 1px solid;
}
.bt-lt-sidebar{
  width: 20%;
  float: left;
  border: 1px solid;
  margin-right: 4%;
}
.btsidebar_content{
  width: 50%;
  float: left;
  border: 1px solid;
}
.bt-rt-sidebar{
  width: 20%;
  float: left;
  border: 1px solid;
  margin-left: 4%;
}
