html{
  background: #ccc;
}
body{
  width: 320px;
  margin: 2em auto 2em;
  background: #fff;
  padding: 25px;
  font-family:times,georgia,serif;
}
.photo{
  background: rgb(255, 256, 147);
  width:220px;
  overflow: hidden;
  padding: 10px;
  border: 2px solid black;
  margin: 0 auto;
}
img{
  margin: 10px;
}
@media only screen and (max-width:480px) {
  body{
    width:320px;
  }

}
