html{
  background: #ccc;
}
body{
  background: #fff;
  width:80%;
  margin: 0 auto;
  font-size: 100%;
}
header{
  background: rgb(134,168,176);
  text-align: center;
  text-transform: uppercase;
}
h1{
  padding: 3%;
  font-size: 2em;
  color: #fff;
  font-family:arial,helvetica,sans-serif;
}
.column1{
  width:32.3%;
  background: yellow;
  margin-right: 1.5%;
/*   padding: 2.5%; */
  float: left;
/*   margin-right: 3%; */
  height: 500px;
}
.column2{
  width:32.3%;
  background: red;
  margin-right: 1.5%;
/*   padding: 2.5%; */
  float: left;
/*   margin-right: 2.5%; */
  height: 500px;
}
.column3{
  width:32.3%;
  background: green;
/*   padding:2.5%; */
  float: left;
  height: 500px;
}
.column-content{
  padding: 20px;
}
footer{
  background: blue;
  font-size: 1em;
  line-height: 1.6em;
  clear: both;
}
