<!DOCTYPE html>
<html ng-app="gemstore">
  <head>
    <meta charset="utf-8">
    <title>angular</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet"href="css/bootstrap.min.css">
    <style>
    body{
      width: 400px;
      margin: 0 auto;
      font-family: 'Lato', sans-serif;
      margin-top: 20px;
    }
    .panel{
      background-color:#cdcdb1;
      padding: 10px;
    }
    .heading{
    background-color:#ebebe0;
    padding: 15px;

    }
    blockquote{
      font-size: 16px;
    }
    textarea{
      width: 100%;
      border-radius: 6px;
      border: 2px solid red;
      outline: inherit;
    }
    .author{
      width: 100%;
      padding: 10px;
      border-radius: 6px;
      border: 2px solid orange;
      outline: inherit;
    }
   .select{
     width: 100%;
     outline: inherit;
     padding: 10px;
   }
   .btn-md{
     width: 23%;
   }
   .btn-success{
     background-color:  #ff3333;
     border-radius: 4px;
     padding: 10px;

   }
   .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #ff4d4d;
}
span{
  font-size: 15px;
  position: relative;
  bottom:10px;
}
.span{
  font-family: 'Indie Flower', cursive;

}

.mySlides {display:none;}
    </style>
  </head>
  <body>

    <div class="panel-default">
      <div class="heading">
    <div ng-controller="StoreController as store" class="span">
      <p>{{store.product.name}}</p>
      <h3><span>$</span>{{store.product.price}}</h3>
      <p>{{store.product.description}}</p>
      <p><img src="img/primeng.png"width="80"height="70"></p>
  <div class="row">
    <div class="col-md-4">
      <div class="alert alert-success">
    <strong>Hello!</strong></br>Welcome.
  </div>
    </div>
    <div class="col-md-4">

        <div class="w3-content w3-section" style="max-width:500px">
        <img class="mySlides" src="img/1.png" alt="12"style="width:110" height="100">
        <img class="mySlides" src="img/logo.png" style="width:110"height="100">
        <img class="mySlides" src="img/primeng.png" style="width:110px"height="100">
      </div>
    </div>
    <div class="col-md-4">
      <div class="alert alert-success">
    <strong>To</strong>shoping card.
  </div>
    </div>
    </div>
    <button ng-show="store.product.canPurchase" class="btn-md btn-info btn-success">AddToCart</button>
</div>
  </br>
    <ul class="nav nav-pills ">
  <div ng-init="tab=1"></div>
  <li ng-class="{active:tab===1}">
 <a href ng-click="tab=1">Home</a></li>
  <li ng-class="{active:tab===2}">
   <a href ng-click="tab=2">Menu</a></li>
  <li ng-class="{active:tab===3}">
  <a href ng-click="tab=3">Reviews</a></li>
</ul>
</br>
<div class="panel" ng-show="tab===1">
  <h3>Home</h3>
    <blockquote>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
     Lorem Ipsum has been the industry's standard dummy
    </blockquote>
    </div>
    <div class="panel"ng-show="tab===2">
      <h3>Menu</h3>
      <blockquote>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
         Lorem Ipsum has been the industry's standard dummy
      </blockquote>
      </div>
      <div class="panel"ng-show="tab===3">
        <h3>Reviews</h3>
        <blockquote>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
           Lorem Ipsum has been the industry's standard dummy
        </blockquote>
        <form name="ReviewForm">
          <blockquote>
            <b>stars:{{Review.stars}}</b>
                   {{Review.body}}
                   by:{{Review.author}}
          </blockquote>
          <p><select ng-model="Review.stars" class="select">
          <option value="1">stars1</option>
          <option value="2">stars2</option>
        </select></p>
        <p><textarea ng-model="Review.body">
        </textarea></p>
        <label>By:</label>
        <p><input ng-model="Review.author"type="email"class="author"/></p>
        <p><input type="submit" class="btn-success btn-md"value="submit"></p>
        </form>
      </div>
    </div>
  </div>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
  </body>
</html>
