html{
  background: #ccc;
}
body{
  width: 80%;
  background: #fff;
  margin: 0 2%;
}
header{
  background: yellow;
  padding: 2%;
}
.container1{
  width: 60%;
  float: left;
  background: blue;
  padding: 2%;
  margin-bottom:2%;
}
.wrap{
    background: pink;
    width: 48%;
    float: left;
}
.wraper{
  background: rgb(255, 200, 180);
  width: 48%;
  float: right;
}
.content{
  padding:10%;
}
/*-------------------------------------------------------------
END section1
-------------------------------------------------------------*/
.container{
  width: 30%;
  float:right;
  background: red;
  padding:2%;
}
.wrap1{
  width: 60%;
  background: green;
}
.wrap2{
  padding: 20%;
}
/*---------------------------------------------------------------------
END section2
----------------------------------------------------------------------*/

.root1{
  float: right;
}
.root{
  float: right;
  background: rgb(145, 169, 134);
  width: 34%;
  clear:both;
}
.root1{
  padding:5%;
}
/*------------------------------------------------------
END section3
-------------------------------------------------------*/

.dummy{
  width: 34%;
  background: green;
  clear: left;
}
.dummy1{
  padding: 5%;
}
footer{
  background: yellow;
  text-align: center;
  text-transform: uppercase;
}
