html{
  background: #ccc;
}
body{
  background: #fff;
  width: 600px;
  height: 900px;
  margin: 2em auto 2em;
}
div{
  width: 150px;
  height:50px;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 25px;
  border: 1px solid black;
}
.element1{
  background: red;
  float: right;
  width: 50px;
  height: 200px;

}
.element2{
  background: grey;
  float: left;
  width: 50px;
  height: 100px;
}
.element3{
  background: blue;
  clear:both;
}
.element4{
  background: pink;

}
.element5{
  background: green;
}
.element6{
  background: yellow;
}
/*-------------------------------------------------
SECTION end
-------------------------------------------------*/
