.wrapper{
	background-color:#0c0c35;
	padding: 20px;
	}
.registered{
margin-left:20px
}
input{
	padding: 4px;
	outline: none;
}
.sign-color{
	line-height:46px !important;
	color:#fff !important;
}
table, th, td {
    border: 1px solid red;
    border-collapse: collapse;
}
.user-icon{
	color: #3ff404 !important;
	line-height: 45px !important;
	margin-right: 10px;
}
.navbar-inverse {
    background-color:#9e0c99 !important;
    border-color: #e0dcea !important;
    height: 50px;
}
.pro-img{
	margin-bottom:-80px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #e8dddd !important;
}
a{
	text-decoration: none !important;
}
