html{
  background: #ccc;
}
body{
  width: 860px;
  background: #fff;
  font-family: arial,sans-serif;
  margin: 0 auto;
}
header{
  background: rgba(255, 257, 147, 20);
  padding: 10px;
}
article{
  padding: 10px;
}
h2{
  text-shadow: 2px 2px 10px #666;
}
.col-1{
  background: rgb(255, 246, 130);
  width: 420px;
  padding: 10px;
  float: left;
  box-shadow: 5px 5px 5px;
}
.col-2{
  background: rgb(255, 246, 130);
  width: 250px;
  padding: 10px;
  float: right;
  box-shadow: 5px 5px 10px #000;
}
footer{
  clear: both;
}
