body{
  background: lightblue;
  width: 600px;
  margin: auto
}
::selection{
  background-color: red;
  color: blue;
}

img{
  width: 180px;
  height: 180px;
  box-shadow: 0 0 0 5px pink;
  transition: all .5s ease;

}
img:hover{
  transform: rotateY(360deg);
}
p{
  width: 380px;
  float: right;
  text-align: justify;
  font-style: italic;
  font-weight: 2px;
  line-height: 1.5em;
  font-size: 18px;
  transition: all .5s ease;

}
p:hover{
  transform: rotateX(360deg);
}
.wrap img{
  float: right;
  position: absolute;
  right: 0;
  box-shadow: 0 0 0 3px blue;
  transition: all. 5s ease;

}
.wrap img:hover{
  transform: rotate(360deg);
}

.main{
  position: relative;
}

.root p{
  width: 380px;
  position: absolute;
  left: 0;

}
.container img{
margin-top: 200px;
width: 500px;
height: 250px;
margin-left: 50px;
transition: all.5s ease;
box-shadow: 0 0 0 3px red;


}
.container img :hover{
  transform: rotateX(360deg);
}
h1:hover{
  transform: scale(1.5);
}


h1{
box-shadow: 0 0 0 5px yellow,
            0 0 0 10px red;
            text-align: center;
            padding: 10px;
            background: grey;
            transition: all.5s ease;
            font-weight: 500;
{
