
<!DOCTYPE html>
<html ng-app="gemstore">
  <head>
    <meta charset="utf-8">
    <title>angular</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet"href="css/bootstrap.min.css">
    <style>

    </style>
  </head>
  <body>
    <form name="reviewForm" ng-controller="formreviewcontroller as reviewCtrl">
      <blockquote>
        <b>stars:{{review.stars}}</b>
        {{review.body}}
        <cite>by:{{review.author}}</cite>
      </blockquote>
      <select ng-model="review.stars">
        <option value="1">1star</option>
        <option value="2">2stars</option>
      </select>
      <textarea ng-model="review.body">
      </textarea>
      <lable>by:</lable>
      <input ng-model="review.author"type="email"/>
      <input type="submit"value="submit"/>
    </form>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
  </body>
</html>
