/*
Theme Name: Flatsome Child
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/
@font-face {
  font-family: "Montserrat-v10";
  font-style: normal;
  font-weight: 100;
  src: url(./fonts/montserrat-v10/montserrat-v10-latin-100.eot);
  src: local("Montserrat Thin"), local("Montserrat-Thin"),
  url(./fonts/montserrat-v10/montserrat-v10-latin-100.eot?#iefix) format("embedded-opentype"),
  url(./fonts/montserrat-v10/montserrat-v10-latin-100.woff2) format("woff2"),
  url(./fonts/montserrat-v10/montserrat-v10-latin-100.woff) format("woff")
}

@font-face {
  font-family: "Montserrat-v10";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/montserrat-v10/montserrat-v10-latin-regular.eot);
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
  url(./fonts/montserrat-v10/montserrat-v10-latin-regular.eot?#iefix) format("embedded-opentype"),
  url(./fonts/montserrat-v10/montserrat-v10-latin-regular.woff2) format("woff2"),
  url(./fonts/montserrat-v10/montserrat-v10-latin-regular.woff) format("woff")
}

@font-face {
  font-family: "Montserrat-v10";
  font-style: normal;
  font-weight: 500;
  src: url(./fonts/montserrat-v10/montserrat-v10-latin-500.eot);
  src: local("Montserrat Medium"), local("Montserrat-Medium"),
  url(./fonts/montserrat-v10/montserrat-v10-latin-500.eot?#iefix) format("embedded-opentype"),
  url(./fonts/montserrat-v10/montserrat-v10-latin-500.woff2) format("woff2"),
  url(./fonts/montserrat-v10/montserrat-v10-latin-500.woff) format("woff")
}

@font-face {
  font-family: "Montserrat-v10";
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/montserrat-v10/montserrat-v10-latin-700.eot);
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
  url(./fonts/montserrat-v10/montserrat-v10-latin-700.eot?#iefix) format("embedded-opentype"),
  url(./fonts/montserrat-v10/montserrat-v10-latin-700.woff2) format("woff2"),
  url(./fonts/montserrat-v10/montserrat-v10-latin-700.woff) format("woff")
}


@media only screen and (max-width: 48em) {
/*************** ADD MOBILE ONLY CSS HERE  ***************/


}

h1 { font-size: 2.441em; }
h2 { font-size: 1.953em; }
h3 { font-size: 1.563em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1em; }
h6 { font-size: 0.8em; }
.container-width, .full-width .ubermenu-nav, .container, .row { max-width: 1140px; }
.bg__size--unset .section-bg { background-size: unset !important; }
.bg__repeat--no .section-bg { background-repeat: no-repeat !important; }
.bg__repeat--y .section-bg { background-repeat: repeat-y !important; }
.bg__repeat--x .section-bg { background-repeat: repeat-x !important; }
.button:hover, .button:focus { -webkit-box-shadow: none; box-shadow: none; }
.button.primary:hover, .button.primary:focus { background-color: #54a2df; border-color: #4b9ddd; }
.header.transparent .button.primary { border-color: #fff; background-color: #fff; color: #7fb9e7; }
.header.transparent .button.primary:hover,
.header.transparent .button.primary:focus { background-color: rgba(255, 255, 255, 0.85); }
.header.transparent .nav-dark .nav>li>a { color: #fff; }

.header:not(.transparent) .header-wrapper,
.header:not(.has-transparent) .header-wrapper {
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1)
}
.mobile-nav .icon-menu { font-size: 32px !important; color: #7fb9e7; }
.mobile-nav .icon-menu::before { font-family: "FontAwesome"; content: "\f0c9"; }
.header-button-2 { display: none !important; }

.single-post .header .header-wrapper,
.archive .header .header-wrapper,
.category .header .header-wrapper {
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.single-post .header .menu-item,
.single-post .header .header-button-1,
.archive .header .menu-item,
.archive .header .header-button-1,
.category .header .menu-item,
.category .header .header-button-1 {
    display: none !important
}

.single-post .header .header-button-2,
.archive .header .header-button-2,
.category .header .header-button-2 {
    display: inline-block !important
}

.footer-1 { border-top: 2px solid #7fb9e7; }
.footer-1__col-1 { text-align: center; font-size: .75rem; font-weight: 600; margin-bottom: 0.5rem; }

@media screen and (min-width: 992px) { .footer-1__col-1 { padding-top: 15px; } }

.footer-1__col-1 a { color: #666; font-weight: 500; }
.footer-1__col-1 a:hover,
.footer-1__col-1 a:focus { color: #666; text-decoration: underline; }

.footer-1__col-2,
.footer-1__col-3 { text-align: center; margin-bottom: 0.5rem; }

.footer-1__col-2 a,
.footer-1__col-3 a { font-weight: 600; color: #333; }

.footer-1__col-2 a:hover,
.footer-1__col-2 a:focus,
.footer-1__col-3 a:hover,
.footer-1__col-3 a:focus {
  color: #333;
}
.footer-1__col-2 a {
  font-size: 32px
}
.footer-1__col-2 ul {
    margin-bottom: 24px;
    display: block;
    text-align: center
}
.footer-1__col-2 ul li {
    display: inline-block;
    margin: 0 .5rem
}
.footer-1__col-3 {
    text-align: center
}

@media screen and (min-width: 992px) {
    .footer-1__col-3 {
        padding-top: 15px
    }
}

.footer-1__col-3 a {
    font-size: .9rem;
    padding: 0 !important;
    font-weight: 500;
}
.footer-1__col-3 a:hover,
.footer-1__col-3 a:focus {
    text-decoration: underline
}
.footer-1__col-3 ul li {
    display: inline-block;
    margin: 0 .5rem
}
.footer-1__col-3 ul li+li {
    border-top: none
}
.copyright-footer {
    color: #666;
    font-weight: 600;
    font-size: .75rem;
    margin-bottom: 5px
}
.copyright-footer .fa-heart { color: #7fb9e7; }
.copyright-footer a { color: #666; }
.copyright-footer a:hover,
.copyright-footer a:focus {
    color: #666;
    text-decoration: underline
}
.home__featured-blog .is-divider { display: none; }
.home__latest-post { padding-bottom: 0 !important; }
.home__latest-post .section-content>.row>.col { padding-bottom: 0; }
.home__follow-us [class^="social-"] .fa,
.home__follow-us [class^="social-"] .fab {
    font-size: 1.8em;
    vertical-align: middle;
    margin-right: 5px;
}
.home__follow-us .social-facebook { color: #475993; }
.home__follow-us .social-twitter { color: #76a9ea; }
.home__follow-us .social-instagram { color: #c3266b; }
.home__follow-us .social-instagram .fa,
.home__follow-us .social-instagram .fab {
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home__follow-us .social-linkedin { color: #0077b7; }
.subscribe-form {
    background-color: #7fb9e7;
    padding: 25px;
    border-radius: 3.2px;
    color: #fff;
}
.subscribe-form .title {
    margin-bottom: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
}
.subscribe-form form {
    margin-bottom: 0px;
}
.subscribe-form form .mc4wp-response {
    margin-top: 15px;
    margin-bottom: 0px;
}
.subscribe-form .mailchimp-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
@media screen and (min-width: 850px) {
    .subscribe-form .mailchimp-form {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-flow: row;
        flex-flow: row;
    }
}

@media screen and (max-width: 849px) {
    .subscribe-form .mailchimp-form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-flow: column;
        flex-flow: column;
    }
}
.subscribe-form .mailchimp-form input {
    margin: 0;
    height: 44px;
}
@media screen and (min-width: 850px) {
    .subscribe-form .mailchimp-form input+input {
        margin-left: 10px;
    }
}
@media screen and (max-width: 849px) {
    .subscribe-form .mailchimp-form input+input {
        margin-top: 10px;
    }
}
.subscribe-form .mailchimp-form input[type="text"],
.subscribe-form .mailchimp-form input[type="email"] {
    background-color: transparent;
    color: #fff;
    border-width: 0 0 2px 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #fff;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.subscribe-form .mailchimp-form input[type="text"]::-webkit-input-placeholder,
.subscribe-form .mailchimp-form input[type="email"]::-webkit-input-placeholder {
    color: #fff;
}
.subscribe-form .mailchimp-form input[type="text"]::-moz-placeholder,
.subscribe-form .mailchimp-form input[type="email"]::-moz-placeholder {
    color: #fff;
}
.subscribe-form .mailchimp-form input[type="text"]:-ms-input-placeholder,
.subscribe-form .mailchimp-form input[type="email"]:-ms-input-placeholder {
    color: #fff;
}
.subscribe-form .mailchimp-form input[type="text"]:-moz-placeholder,
.subscribe-form .mailchimp-form input[type="email"]:-moz-placeholder {
    color: #fff;
}
.subscribe-form .mailchimp-form input[type="text"]:focus,
.subscribe-form .mailchimp-form input[type="email"]:focus {
    outline: none;
}
.subscribe-form .mailchimp-form input[type="submit"] {
    padding: 6px 40px;
    font-size: 0.8rem;
}
.col.post-item .box-image img {
    border-radius: 3px;
}
.col.post-item .box-text .is-divider {
    display: none;
}
.col.post-item .box-text .is-link {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #7fb9e7;
}
.col.post-item .box-text .is-link:hover,
.col.post-item .box-text .is-link:focus {
    color: #7fb9e7;
    text-decoration: underline;
}
.col.post-item .box-text .from_the_blog_excerpt {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 15px;
}
@media screen and (min-width: 850px) {
/*     .row .large-columns-2 .post-item:nth-child(odd) { padding-right: 30px; } */
}
@media screen and (min-width: 850px) {
/*     .row .large-columns-2 .post-item:nth-child(even) { padding-left: 30px; } */
}
@media screen and (min-width: 850px) {
/*     .row .large-columns-3 .post-item:nth-child(3n+1) { padding-right: 35px; } */
}
@media screen and (min-width: 850px) {
/*     .row .large-columns-3 .post-item:nth-child(3n+2) { padding-right: 25px; padding-left: 25px; } */
}
@media screen and (min-width: 850px) {
/*     .row .large-columns-3 .post-item:nth-child(3n+3) { padding-left: 35px; } */
}
article.type-post .entry-divider {
    margin: 22px auto;
    background-color: #7fb9e7;
}
article.type-post .entry-title {
    font-weight: 600;
    display: inline;
    background: linear-gradient(to bottom, #fff, #fff 0px, #fff 38px, #7fb9e7 12px);
    background-size: 100% 50px;
    background-position: 0px 42px;
}
article.type-post .post-date { display: none; }
article.type-post .entry-meta { border: none; }

@media screen and (min-width: 850px) {
    article.type-post .blog-share { text-align: left; }
}
@media screen and (max-width: 849px) {
    article.type-post .blog-share { text-align: center; }
}
@media screen and (min-width: 850px) {
    article.type-post .blog-tag { text-align: right; }
}
@media screen and (max-width: 849px) {
    article.type-post .blog-tag { text-align: center; }
}
article.type-post .share-icons a {
    color: #7fb9e7 !important;
    border-color: #7fb9e7 !important;
}
article.type-post a[rel="tag"] {
    font-style: italic;
    text-decoration: underline;
}
.blog-archive,
.blog-single {
    background-image: url(/wp-content/themes/flatsome-child/assets/before-footer__bg.png);
    background-repeat: repeat-x;
    background-position: center bottom;
}
@media screen and (min-width: 850px) {
    .blog-archive .the-8-posts>.row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
        /* flex-flow: column wrap; */
        height: 660px;
    }
}
.blog-archive .the-8-posts .post-item {
/*     -ms-flex-preferred-size: auto;
    flex-basis: auto; */
}
.blog-archive .the-8-posts .post-item .box-text {
    padding: 0;
}
/* .blog-archive .the-8-posts .post-item:nth-of-type(2) { padding-left: 15px; padding-right: 35px; } */
/* .blog-archive .the-8-posts .post-item:nth-of-type(2) .box-image { display: none;; } */
/* .blog-archive .the-8-posts .post-item:nth-of-type(2) .box-text { padding: 0; } */
/* .blog-archive .the-8-posts .post-item:nth-of-type(3) { padding-left: 25px; padding-right: 25px; } */
/* .blog-archive .the-8-posts .post-item:nth-of-type(3) .box-image { display: none; } */
/* .blog-archive .the-8-posts .post-item:nth-of-type(3) .box-text { padding: 0; } */
/* .blog-archive .the-8-posts .post-item:nth-of-type(4) { padding-left: 25px; padding-right: 25px; } */
/* .blog-archive .the-8-posts .post-item:nth-of-type(5) { padding-left: 35px; padding-right: 15px; } */
/* .blog-archive .the-8-posts .post-item:nth-of-type(6) .box-image { display: none; } */
/* .blog-archive .the-8-posts .post-item:nth-of-type(6) .box-text { padding: 0; } */
.blog-archive .nav-pagination {
    display: inline-block;
    border-bottom: 5px solid #7fb9e7;
    padding-bottom: 10px;
}
.blog-archive .nav-pagination li {
    margin-left: 10px;
    margin-right: 10px;
}
.blog-archive .nav-pagination li:first-of-type { margin-right: 10px; }
.blog-archive .nav-pagination li:last-of-type { margin-left: 10px; }
.blog-archive .nav-pagination .page-number {
    color: #333;
    border-color: transparent;
    background-color: transparent;
    height: auto;
    line-height: inherit;
    min-width: auto;
    padding: 0;
}
.blog-archive .nav-pagination .page-number:hover,
.blog-archive .nav-pagination .page-number:focus {
    border-color: transparent;
    background-color: transparent;
    color: #7fb9e7;
}
.blog-archive .nav-pagination .page-number.current { color: #7fb9e7; }
.block__categories-navigation {
    display: block;
    text-align: center;
}
.block__categories-navigation .col { padding: 0 15px 5px; }
.block__categories-navigation .nav-title {
    color: #7fb9e7;
    font-style: italic;
    font-size: 1em;
    padding-right: 15px
}
.block__categories-navigation .menu-show-me-container { display: inline-block; }
.block__categories-navigation ul.menu { display: inline-block; margin-bottom: 0; }
.block__categories-navigation ul.menu li { display: inline-block; }
.block__categories-navigation ul.menu li+li { border-top: none; }

.block__categories-navigation ul.menu li.current-menu-item>a,
.block__categories-navigation ul.menu li.current_page_item>a,
.block__categories-navigation ul.menu li.active>a {
    color: #7fb9e7
}

.block__categories-navigation ul.menu li a {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    padding: 0 15px
}

span.dropcap {
    font-family: inherit !important;
    color: inherit !important;
    font-weight: 600 !important
}

/* Revisions 1.0 */
.header .button { font-weight: 500; font-size: 12px; padding: 2px 1.2rem; }
.button span { font-family: "Montserrat", sans-serif; }

/* Align Images to the center on small screen */
@media (max-width: 849px) { .aligncenter { clear: both; display: block; margin: 0 auto; } }


/* Header */
#masthead .html.header-button-1 { margin-right: 0; }
.header-main .nav > li > a { font-size: 12px; font-weight: 500; letter-spacing: 0; }
#masthead .nav>li.show-single-mobile { display: none; }
.mobile-sidebar li.menu-item  { display: none; }
.mobile-sidebar li.show-single-mobile  { display: flex; }

/* footer */
.footer,
.copyright-footer {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
.footer-widgets .widget { margin-bottom: 0; }
.absolute-footer { padding-top: 0px; }
@media screen and (max-width: 849px) { #custom_html-3 .custom-html-widget img { width: 80px; } }


/* Home Header */
@media screen and (max-width: 769px) {
    .flickity-viewport { height: auto !important; }
    .flickity-viewport .flickity-slider { position: relative; }
    .flickity-viewport .flickity-slider .post-item { position: relative !important; }
    .flickity-viewport .box-shade .box-text { position: relative !important; }
    .flickity-viewport .post-title {
        font-size: .8em;
        text-align: center;
    }
    .flickity-viewport .box-shade .box-text {
        padding-top: 0 !important;
    }
    .block__categories-navigation .menu-item {
        font-size: .8em;
    }
    .block__categories-navigation .menu-item a {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}
