.rout{
  background: #9cf;
  width: 400px;
  height: 600px;
  margin: 0 auto;
  padding: 1px;
}
.box{
  background: #f90;
  width: 300px;
  height: 300px;
  padding:25px;
  border: 2px solid black;
  margin:25px;

}
p{
  background: #eea458;
  height: 100%;


}
