html{
  background: #ccc;
}
body{
  background:#fff;
  width: 700px;
  margin: 0 auto;
  padding: 20px;
}
div{
  width: 50px;
  height: 50px;
  padding: 25px;
  margin-bottom:20px;
}
.element1{
  background: red;
  position: absolute;
  left:-50px;
  top: -10px;
  z-index:2;

}
.element2{
  background: blue;
  position: absolute;
  left: 25px;
  top: 50px;
  z-index:3;
}
.element3{
  background: green;
  position: absolute;
  left: 100px;
  top: 100px;
  z-index:1;
}
.container{
  background: rgb(169, 134, 145);
  padding: 100px;
  position: relative;
  border: 1px solid black;
}
