html{
  background: #ccc;
}
body{
  width: 80%;
  background: #fff;
  margin: 0 auto;
}
header{
  background: rgb(145, 134, 169);
  padding: 0 4em;
  line-height: 1.5em;
}
h1{
  font-family:arial,helvetica,sans-serif;
  color: #fff;
  padding:2em;
  letter-spacing: .1em;
  line-height: 1.6em;
  font-size: 1em;
}
section{
  background: rgb(196, 134, 145);
  width: 62%;
  padding: 2px;
  float: left;
  padding: 5px;
  height: 1008px;
}
aside{
  background: rgb(134, 196, 145);
  width: 35%;
  padding: 2px;
  float: right;
  padding: 5px;
}
footer{
  background: rgb(76, 67, 65);
  line-height: 3em;
  padding: 0 2em;
  color: white;
  font-size: .8em;
  text-align: center;
  clear: both;
}
/*
aside{
  padding-bottom: 1000em;
  margin-bottom: -1000em;
}
section{
  padding-bottom: 1000em;
  margin-bottom: -1000em;
}
*/
/*---------------------------------------------------
SECTION end
----------------------------------------------------*/
