
<!DOCTYPE html>
<html ng-app="gemstore">
  <head>
    <meta charset="utf-8">
    <title>angular</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet"href="css/bootstrap.min.css">
    <style>

    </style>
  </head>
  <body ng-controller="storecontroller as store">
    <div>

    <p>{{store.product.name}}</p>
    <h1>${{store.product.price}}</h1>
    <p>{{store.product.description}}</p>
    <P>{{product.images[0].full}}</p>
    <button ng-show="store.product.canPurchase">add to cart</button>
  </div>
    <section ng-init="tab=1">
      <ul class="nav nav-pills">
  <li ng-class="{active:tab===1}">
    <a href ng-click="tab=1">description</a></li>
  <li ng-class="{active:tab===2}">
    <a href ng-click="tab=2">product</a></li>
  <li ng-class="{active:tab===3"}>
    <a href ng-click="tab=3">reviews</a></li>
  </ul>
  {{tab}}
</section>
<div class="panel" ng-show="tab===1">
  <h4>description</h4>
  <blockquote>justs for description demo</blockquote>
</div>
<div class="panel" ng-show="tab===2">
  <h4>product</h4>
  <blockquote>justs for products demo</blockquote>
</div>
<div class="panel" ng-show="tab===3">
  <h4>reviews</h4>
  <blockquote>justs for reviews demo</blockquote>
</div>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
  </body>
</html>
