.rout{
  width: 960px;
  margin: 0 auto;
  font-size: 10px;
  font-family: sans-serif;
}
.box{
  width: 520px;
  background: red;
  float: left;
  padding: 1em;

}
.box1{
  padding: 1em;
  width: 380px;
  background: blue;
  float: right;

}
h1{
  font-size: 3em;
  font-style: italic;
}
h2{
  font-size: 3em;
  font-style: italic;
}
p{
  font-size: 1.5em;
  letter-spacing: 0.1em;
  line-height: 23px;
}
/*---------------------------------------------------
SECTION .end-rout
-----------------------------------------------------*/
