.container{
  width: 800px;
  margin:auto;
  overflow: hidden;

}

li{
  transition: background-color .75s ease;
  float: left;
  margin:20px;
  width: 200px;
  height: 200px;
  list-style: none;

  line-height: 200px;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}
li:hover{
  background-color: rgba(68, 68, 68,.6);
  transform:scale3d(1.5);
}
