html{
  background: #ccc;
}
body{
  background: #fff;
  width: 720px;
  margin: 0 auto;
  padding: 25px;
  font-family: georgia, times, serif;
  font-size: 10px;
}
header{
  margin: 0 0 3em 0;
}
.fnt-xs{font-size: .9em;}
.fnt-sm{font-size: 1.3em;}
.fnt-md{font-size: 2em;}
.fnt-lg{font-size: 3em;}
.fnt-xl{font-size: 4em;}
.fnt-xxl{font-size: 9em;}
.lh-sm{line-height: 23px}

.wrap img{
  float: left;
  margin: 0  1em 1em 0;
}
.wrap:after{
  content: "";
  display: block;
  clear: both;
}
.wrap h3{
  clear: both;
}
/*------------------------------------------------------
END section.wrap
-------------------------------------------------------*/
.wraper{
  padding: 2em;
  border: 1px solid black;
  margin: 0 auto;
  background: #d4beaa;
}
.wraper img{
  float: left;
  margin: 1em 2em;
}
.more{
  float: left;
  margin-left: 8em;
 line-height: 1.6em;
 padding: 0 5em;
 background: #3b2f24;
 margin-top: 3em;
 color: #fff;
 }
 .price{
   float: right;
   margin: 2em 1em;
 }
 .wrap1 p:first-of-type:first-letter{
   font-size: 4em;
   float: left;
   margin: 0 5px 0 0;
   line-height: .8em;
 }
 .wraper:after{
   content:"";
   display: block;
   clear: both;
/*---------------------------------------------------
END section.wraper
-------------------------------------------------------*/
