html{
  background: #ccc;
}
body{
  background: #fff;
}
.main{
  width: 820px;
  margin: 0 auto;
  padding: 10px 20px;
}
img{
  float: left;
  margin: 10px;
  display: inline-block;
  
}
 footer{
   clear: both;

}
